body{
    background-image: url('https://w-dog.ru/wallpapers/15/5/439682461011614/karty-karta-mira-kontinenty-valyuta-strany-fon.jpg');
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
}

.exchange-form{
    margin: 15rem auto 5px;
    width: 85%;
    max-width: 35rem;
    padding: 1.5rem;
    border-radius: 10px;
    font-size: 18px;
    background-color:whitesmoke;
    box-shadow: 0 2px 8px purple;
    box-sizing: border-box;
}

.title-form{
    text-align: center;
    color: black;
    font-size: 30px;
    margin-top: 5px;
}

button:hover {
    cursor: pointer;
}

}

input{
    outline-offset: 0;
    outline: none !important;;
}

select[id="id_currency_to"]:hover{
    cursor: pointer;
}
select[id="id_currency_from"]:hover{
    cursor: pointer;
}