{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    {%block head%}
    {% endblock %}
    <link href="{% static '/exchange/css/index1.css'%}" rel="stylesheet">
    <title>Exchange</title>
</head>
<body>
{%block content%}
{% endblock %}
</body>
</html>